{% load static %}
{% get_media_prefix as MEDIA_PREFIX %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Project Cataract</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css"
    />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'scss/scss-main.css' %}" rel="stylesheet" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-5 col-lg-6" style="background: #f0f0f0;">
          <label class="bigwhitecontainer soft-element soft-shadow">
            <h1>Project Cataract</h1>
            <input type="radio" class="start_btn" onclick="setTimeout(display, 3000);" />
            <span class="checkmark">
              <div id="uploadContainer" class="content-container">
                <div class="bootstrap_img_upload pt-5">
                  <div class="box pt-3">
                    <img src="{% static 'img/upload_lady.svg' %}" alt="" width="300px" />

                    <div class="row py-4 bootstrap_img_upload pt-5">

                      <form action="{% url "home" %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <p>{{ form.non_field_errors }}</p>
                        <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
                      
                          <p>
                            <img src="{% static 'img/upload.png' %}" width="30px" />
                              {{ form.docfile }}
                          </p>

                        <div class="multi-button">
                          <!-- <button>Do something</button> -->
                          <input name="submittext" type="submit" value="Analysis" class="submit_btn">
                          <!-- <button>I think it will do something</button> -->
                        </div>
                      </form>

                      <!-- <form method="post">
                        {% csrf_token %}
                        <div class="box pt-3 col-lg-6 mx-auto">
           
                          <div class="image-area mt-4">
                            <img
                              id="imageResult"
                              src="#"
                              alt=""
                              class="img-fluid rounded shadow-sm mx-auto d-block"
                            />
                          </div>
                        </div><br>
                        <div class="multi-button">
                          <button>Do something</button>
                          <input name="submittext" type="submit" value="Analysis" class="submit_btn">
                          <button>I think it will do something</button>
                        </div>
                      </form> -->
                    </div>
                  </div>
                </div>
              </div>
            </span>
          </label>
        </div>

        <div class="col-xs-12 col-sm-7 col-lg-6">
          <section id="contact" class="contact">

            <h3>Image analysis</h3>

            <div class="image-area mt-4">
              <img
                id="imageResult"
                src="{{ MEDIA_PREFIX }}{{img_name}}"
                alt=""
                class="img-fluid rounded shadow-sm mx-auto d-block"
              /></div>
            <div class="row">

              <div class="col-xs-12">
                  <div>
                      <canvas id="barchart"></canvas>
                  </div>
              </div>
              <!-- <div class="col-xs-12">
                  <div class="chart-area">
                      <canvas id="piechart"></canvas>
                  </div>
              </div> -->
            </div>

            {% for r in response %}
            <p>{{r.tag}}:{{r.confidence}}</p>
            {% endfor %}

          </section>
        </div>
      </div>
    </div>
    {{response.tag|json_script:"image_tags"}}
    <script>
      alert("Warning: Project is not yet finished, Deeper analysis of image is work-under-progress")
      // var sentiment = ["hi", "bye", "guy"];
      // var sentiment_data = [10, 20 ,40];

      var lables = JSON.parse(document.getElementById('image_tags').textContent);
      var lables_score = {{response.confidence}};

    </script>
    <!-- partial -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-alpha3/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>

    <script src="{% static 'js/charts.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
